
<header class="page-main-header" data-ng-controller="DashboardCtrl">

    <div class="row">
        <div class="col-sm-12 text-center click-thru-rate">
            <h4>
                Click-Through Rate
            </h4>
            <p>
               {{ctr}}
            </p>
        </div>
        
    </div>

</header>

<section>
    <div class="page page-dashboard" data-ng-controller="DashboardCtrl">

        <div class="row">

            <div class="col-sm-12" data-ng-controller="chartjsCtrl" style="width:80%;left:100px;">

                <div class="panel panel-default">

                    <div class="panel-body" >

                        <div class="panel-heading text-center"><i class="fa panel-ico"></i>Ad Impression vs Ad Clicks</div>
                        <div class="panel-body" >
                            <chart class="chartjs" data-data="chartjsBar" data-type="Bar" value="myChart"></chart>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>



<section>
    <div class="row" data-ng-controller="popularAdCtrl">
        <div class="col-md-12" style="left: 100px; width: 80%;">
            <!-- Labels -->
            <div class="panel panel-default">
                <div class="panel-heading" style="text-align:center;"><i class="fa panel-ico"></i>Most popular Ad Keywords</div>
                <div class="panel-body text-center popular-ads">

                    <span class="label label-default">{{advertisement1}}</span>
                    <div class="space"></div>
                    <span class="label label-primary">{{advertisement2}}</span>
                    <div class="space"></div>
                    <span class="label label-success">{{advertisement3}}</span>
                    <div class="space"></div>
                    <span class="label label-info">{{advertisement4}}</span>
                    <div class="space"></div>
                    <span class="label label-warning">{{advertisement5}}</span>
                    <div class="space"></div>
                    <span class="label label-danger">{{advertisement6}}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
<div class="panel panel-default">
<div class="panel-heading" style="text-align:center;"><i class="fa panel-ico"></i>Popular User Search Keywords with Count</div>
    <div class="row" data-ng-controller="sparklineCtrl">
    <div class="col-lg-3 col-xsm-6">
        <div class="panel small-box-icon">
                <span class="box-icon bg-success">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">{{count.count1}}</p>
                <p class="text-muted">{{count.searchText1}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel small-box-icon">
                <span class="box-icon bg-info">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">{{count.count2}}</p>
                <p class="text-muted">{{count.searchText2}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel small-box-icon">
                <span class="box-icon bg-warning">
                    <span data-sparkline
                          data-spark-data="simpleChart2info.sparkData"
                          data-spark-options="simpleChart2info.sparkOptions"
                            ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">{{count.count3}}</p>
                <p class="text-muted">{{count.searchText3}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xsm-6">
        <div class="panel small-box-icon">
                <span class="box-icon bg-danger">
                   <span data-sparkline
                         data-spark-data="simpleChart2info.sparkData"
                         data-spark-options="simpleChart2info.sparkOptions"
                           ></span>
                </span>
            <div class="box-info">
                <p class="size-h2">{{count.count4}}</p>
                <p class="text-muted">{{count.searchText4}}</p>
            </div>
        </div>
    </div>
</div>
</div>
</section>


<section>
<div class="panel panel-default">
<div class="panel-heading" style="text-align:center;"><i class="fa panel-ico"></i>Trending Ads across the Market</div>
        <div class="row">

            <div class="col-sm-12" data-ng-controller="flotChartCtrl">

                <div class="panel panel-default">

                    <div class="panel-body">
                        <div data-flot-chart
                             data-data="line1.data"
                             data-options="line1.options"
                             style="width: 100%; height: 300px;"
                                ></div>
                    </div>
                </div>

            </div>

</div>
        </div>
</section>

<section>
    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center;"><i class="fa panel-ico"></i>Realtime Chart</div>
        <div class="panel-body" data-ng-controller="flotChartCtrl.realtime">
            <div data-flot-chart-realtime
                 data-type="realtime"
                 style="width: 100%; height: 300px;"
                 ></div>
        </div>
    </div>
</section>
</div>
