
<!-- Logo -->
<div class="logo" data-ng-controller="AdminAppCtrl">
    <a href="#/">
        <i class="logo-icon fa fa-modx"></i>
        <span>Adnalytics</span>
    </a>
</div>
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li>
            <a href="#/dashboard"> <i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            <ul>
                <li><a href="#/dashboard/dashboard"><i class="fa fa-angle-right"></i><span> Dashboard 1</span></a></span></li>
                <li><a href="#/dashboard/dashboard2"><i class="fa fa-angle-right"></i><span> Dashboard 2</span></a></li>
                <li><a href="#/dashboard/dashboard3"><i class="fa fa-angle-right"></i><span> Dashboard 3</span></a></li>
            </ul>
        </li>
       
        
        <li class="nav-task">
            <a href="#/predictor">
                <i class="fa fa-share-square"></i><span> Predict Ads</span>
            </a>
        </li>
        <li class="nav-task">
            <a href="#/Profile">
                <i class="fa fa-user"></i><span> Profile</span>
            </a>
        </li>
        <li class="nav-task">
            <a href="#/logout">
                <i class="fa fa-sign-out"></i><span>LogOut</span>
            </a>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-list-alt"></i><span> Form elements</span></a>
            <ul>
                <li><a href="#/forms/elements"><i class="fa fa-angle-right"></i><span> Form elements</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-angle-right"></i><span> Form validations</span></a></li>
                <li><a href="#/forms/wizard"><i class="fa fa-angle-right"></i><span>Form wizard</span></a></li>
                <li><a href="#/forms/layouts"><i class="fa fa-angle-right"></i><span> Form layouts</span></a></li>
            </ul>
        </li>
    </ul>

</div>