
<!-- Logo -->
<div class="logo" data-ng-controller="AdminAppCtrl">
    <a href="#/">
        <i class="logo-icon fa fa-modx"></i>
        <span>Adnalytics</span>
    </a>
</div>
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        
            <li>
                <a href="#/dashboard/dashboard"><i class="fa fa-dashboard"></i><span> Dashboard</span></a></span>          
        </li>        
        <li class="nav-task">
            <a href="#/predictor">
                <i class="fa fa-share-square"></i><span> Predict Ads</span>
            </a>
        </li>
        <li class="nav-task">
            <a href="#/Profile">
                <i class="fa fa-user"></i><span> Profile</span>
            </a>
        </li>
        <li class="nav-task">
            <a href="#/logout">
                <i class="fa fa-sign-out"></i><span>LogOut</span>
            </a>
        </li>
    </ul>

</div>