<<!DOCTYPE html>
<html>
<head>
	<title>Predictor</title>
</head>
<body>

<div class="page page-icons">
<section class="panel panel-default">
        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Tags Input</strong></div>
        <div class="panel-body" data-ng-controller="TagsDemoCtrl">
            <tags-input ng-model="tags"
                        class="ui-tags-input"
                        ></tags-input>
        </div>
</section>
</div>


 <section>
 	<div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Media</strong></div>
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-user"></span>
                                    <label>User name</label>
                                    John Wellington
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label>Email</label>
                                    janedoe@doezers.com
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label>Address</label>
                                    Waringerstreet 141, Country name
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label>Contact</label>
                                    (+43) 645 63253736
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-flag"></span>
                                    <label>Nationality</label>
                                    Argentina
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-globe"></span>
                                    <label>Website</label>
                                    www.somewebsite.com
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
 </section>
</body>
</html>
