<!DOCTYPE html>
<html>
<head>
	<title>Predictor</title>

    <style type="text/css">


    .run-btn{
    height:100%; 
    width:130px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;
    }


    </style>
</head>
<body>
    <div data-ng-app="app.controllers" data-ng-controller="PredictDataCtrl">
        <div class="row">
            <div class="page page-icons">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <section class="panel panel-default">
                        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Predict Ads Form</strong></div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form">
                                    
                                    <div class="form-group">
                                        <label for="adtitle" class="col-sm-2 control-label">Ad Title</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="adtitle" ng-model="adtitle" placeholder="Please Enter Your Ad Title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Ad_Display_Position" class="col-sm-2 control-label">Ad Display Position</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Ad_Display_Position" ng-model="Ad_Display_Position" placeholder="Please Enter Your Ad Display Position">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Ad_Type" class="col-sm-2 control-label">Ad Display Position</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Ad_Type" ng-model="Ad_Type" placeholder="Please Enter Your Ad Display Position">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Search_Key_Text" class="col-sm-2 control-label">Search Keyword</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Search_Key_Text" ng-model="Search_Key_Text" placeholder="Please Enter Your Search Keyword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Search_Location" class="col-sm-2 control-label">Search Location</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Search_Location" ng-model="Search_Location" placeholder="Please Enter Your Search Location">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Linking_Site_URL" class="col-sm-2 control-label">Linking Site URL</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Linking_Site_URL" ng-model="Linking_Site_URL" placeholder="Please Enter Your Linking Site URL">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Parent_Site_URL" class="col-sm-2 control-label">Parent Site URL</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Parent_Site_URL" ng-model="Parent_Site_URL" placeholder="Please Enter Your Parent Site URL">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Device_Type" class="col-sm-2 control-label">Device Type</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="Device_Type" ng-model="Device_Type" placeholder="Please Enter Your Linking Site URL">
                                        </div>
                                    </div>

                                    <div>  
                                    <br>                  
                                        <button type="submit" class="btn btn-success run-btn" data-ng-click = "sendPredictData()">Run</button>                
                                    </div>
                                    <br><br>
                                </form>  
                            
                            </div>
                    </section>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    
        <div class="row loading-predict" ng-show="isPredicting == true">
        <div class="load_circle_wrapper predict-spinner">
            <h4><strong>Prediction on the way, Please Wait...</strong></h4></div>
            <div class="loading_spinner ">
                <div id="wrap_spinner">
                    <div class="loading outer">
                        <div class="loading inner"></div>
                    </div>
                </div>
            </div>
        </div>

        
       

        <div class="row">
            <div class="page page-icons">

                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <section class="panel panel-default"> 
                    <form class="form-horizontal" role="form">               
                        <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>File upload with Drag and Drop</strong></div>
                        <div class="panel-body">
                            <div>
                                <div class="drop-box">Drag and drop files here</div>
                            </div>
                        </div>
                        <div>  
                        <br>                  
                            <button type="submit" class="btn btn-success run-btn">Upload and Run</button>                
                        </div>
                        <br><br>
                    </form>
                    </section>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
     </div>
</body>
</html>
