<div class="panel panel-default">
    <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>Profile</strong></div>
        <div class="panel-body">
            <form name="form_signup" class="form-horizontal form-validation" data-ng-submit="">
                <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">User Name</label>
                            </div>
                            <div class="col-sm-9">
                                <label for="">Allegra</label>
                            </div>
                </div>
                <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Email</label>
                            </div>
                            <div class="col-sm-9">
                                <label for="">Allegra@allegra.com</label>
                            </div>
                </div>
                <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Password</label>
                            </div>
                            <div class="col-sm-9">
                                <label for="">********</label>
                            </div>
                </div>
                <div class="form-group">
                            <div class="col-sm-3">
                                <label for="">Company</label>
                            </div>
                            <div class="col-sm-9">
                            <label for="">Allegra Inc.</label>
                            </div>
                </div>
                <div class="col-sm-2">
                <button type="submit"
                                class="btn btn-default btn-block btn-lg"
                                data-ng-disabled="">Edit Profile</button>
                </div>
                <div class="col-sm-2">
                <button type="submit"
                                class="btn btn-default btn-block btn-lg"
                                data-ng-disabled="">Save Profile</button>
                </div>
            </form>
        </div>
    </div>
</div>